<header
  class="bg-zinc-900 flex flex-col md:flex-row p-10 md:p-20 gap-3 text-center md:text-left rounded-3xl"
>
  <div>
    <h1 class="text-5xl font-bold pb-2">Protect Your Passwords</h1>
    <p class="my-4 text-2xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Idpsa, saepe?
    </p>
    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400 rounded-3xl"
      >Get Started</button
    >
  </div>
  <img src="img/fingerprint.svg" alt="Fingerprint" class="w-full md:w-80 mt-4" />
</header>
